@font-face {
  font-family: "Roboto";
  src: url(./fonts/roboto-slab-v8-latin-regular.woff);
  src: url(./fonts/roboto-slab-v8-latin-regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/roboto-slab-v8-latin-300.woff);
  src: url(./fonts/roboto-slab-v8-latin-300.woff2);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/montserrat-v12-latin-700.woff);
  src: url(./fonts/montserrat-v12-latin-700.woff2);
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/montserrat-v12-latin-regular.woff);
  src: url(./fonts/montserrat-v12-latin-regular.woff2);
  font-style: normal;
  font-weight: 400;
}