* {
    padding: 0px;
    margin: 0px;
}
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 30px;
    font-size: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;

}
.site-logo {
    display: inline-block;
    margin: 38px 0px;
}

.site-navigation {
    float: right;
    width: 480px;
    margin: 42px 0px;
    padding: 0;
    list-style: none;
    
}
.site-navigation a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
    font-size: 14px;
          
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #00ffff;
    
}
.site-navigation li {
    float: left;
    margin-right: 34px;
}

.site-navigation li:last-child {
    margin-right: 0;
}
h2 {
    text-align: center;
    font-size: 36px;
    color: #555252;
    text-transform: uppercase;
    font-weight: bold;
    margin: 110px 0px 32px 0px;
}
.blue-line {
    display: block;
    margin: 0 auto;
    margin-bottom: 86px;
  
}
.product-list-item {
    float: left;
    width: 254px;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0px;
   
}
 
.product-list-item:hover .box-1:first-of-type {
    background: #1abc9c;
}
.product-list-item:hover .box-1:last-of-type {
    background: #7fd9c7;
}
.product-list-item img {
    width: 254px;
    height: 280px;
    object-fit: cover;
    
} 
.box-1 {
    margin: 0;
    padding: 12px;
    float: left;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    
} 
li.product-list-item:nth-of-type(4n) {
    margin-right: 0;
}

.box-1:first-child {
    width: 200px;
    background: #323232;

}
.box-1:last-child {
    width: 54px;
    background: #8c8c8c;
    text-align: center;

}
.img-blog {
    margin-bottom: 18px;
    width: 350px;
    height: 264px;
    object-fit: cover;
}
.blog {
    width: 350px;
    float: left;
    margin-right: 30px;

}
.blog:last-child {
    margin-right: 0;
}
.text {
    font-size: 18px;
    line-height: 1.5em;

}
.blog-text {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
}
.decoration-line {
    height: 3px;
    width: 134px;
    margin-top: 16px;
}
.read-button {
    margin-bottom: 44px;
    width: 158px;
    height: 52px;
    background: #4ec6ab;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
