$main-font-stack: 'Montserrat', sans-serif;
$paragraph-font-stack: 'Roboto', sans-serif;

$primary-white-color: #ffff;
$primary-dark-color: #9999;
$primary-hover-color: #fce38a;

$secondary-title-color: #333333;
$secondary-action-color: #f38181;