.team__h2 {
  margin-bottom: 88px;
}

.team__paragraph {
  margin: 0 130px;;
  text-align: center;
}

.team-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
  margin: 90px 0 156px 0;
  padding: 0;
 
}

.team-list__member {
  position: relative;
  width: 380px;
  max-width: 100%;
  height: 470px;
}

.team-list__name {
  margin: 30px 0 12px 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.team-list__title {
  font-family: $paragraph-font-stack;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  color: $primary-dark-color;
}